[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
cosmotech-run-orchestrator = "*"
cosmotech-api = "~=3.1.0"
azure-storage-blob = "*"

[dev-packages]

[requires]
python_version = "3.9"
