[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
azure-storage-blob = "*"
cosmotech-acceleration-library = "==0.7.0"

[dev-packages]

[requires]
python_version = "3.9"
