[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
azure-storage-blob = "*"
cosmotech-acceleration-library = "==0.7.0"
psycopg2-binary = "==2.9.9"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
